body{
  background-color: black;
}
.nav{
  overflow: hidden;
  background-color: black;
}
.nav a{
  float: right;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  text-decoration: none;
  display: flex;
  margin-top: 15px;
  margin-left: 5px;
}
.nav a:hover{
  background-color: white;
  color: black;

}
.img{
  border-radius: 5px;
  border: 2px solid black;
  width: 70px;
  height: 65px;
 
}
.slider{
  width: 100%;
  height: 590px;
  margin-top: 3%;
  top: 49%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background-image: url(../image/1.jpg);
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px black;
  animation: slider 10s infinite linear;
}
@keyframes slider{
  0%{background-image: url(../image/6.1.jpg);}
  35%{background-image: url(../image/5.png);}
  70%{ background-image: url(../image/5.1.jpg);}
  105%{background-image: url(../image/1.1.jpg);}
  135%{background-image: url(../image/1.jpg);}
 
}


.info{
  color: white;
  text-align: center;
  margin-top: 40%;
  padding-top: 120px;
  font-size: 30px;
  height: 200px;
  font-style: oblique;
  background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,-4.2)),url(../image/6.2.jpg);
}
.arrow {
  width: 10%;
    height: 30px;
    border: 1px solid;
    background:black;
    color: #e9f4fb;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.arrow:hover{
  background-color: white;
  color: #24262b;
}
.footer{
  background: #24262b;
  padding: 70PX 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer_containerleft{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
}
.footer_containerleft img{
  width: 200px;
  margin-right: 15px;
}

.footer_containerright{
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: auto;
  border-left: 1px solid #ffffff;
}
ul{
  list-style: none;
  margin-left: -15px;
  margin-bottom: 10px;
}

.row{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.footer-col{
width: 25%;
padding: 0 20px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px ;
  font-weight: 500;   
  margin-left: 20px;
}
.footer-col ul li{
      margin: 10px 10px 10px 0;
}

.footer-col ul li a, .footer-col ul li p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 7px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .register_style a{
  font-size: 20px;
  color: #F85151;

}

.copyright1 {
  font-size: 12px;
  margin: 10px;
  text-decoration: none;
  font-weight: 300;
  color: #8d8b8b;
  display: block;
  transition: all 0.3s ease;
}
