body{
    background-color: rgb(157, 226, 226);
    font-family: 'Roboto',sans-serif;
    background-image: linear-gradient(rgba(96, 93, 93, 0.5),rgba(71, 70, 70, 0.5)),url(../image/signup.jpg);
    background-size: cover;

}
.cross{
    float: right;
    width: 40px;
    font-size: 50px;
    color: red;
    text-decoration: none;
  }
.sign{
    width: 360px;
    height: 571px;
    margin: auto;
    border: 2px solid white;
    background: transparent;
}

h1{
    font-size: 40px;
    text-align: center;
    position: relative;
    text-decoration: none;
    line-height: 1em;
    
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    color:rgb(241, 106, 43);
    width: 0%;
    transition: 1s;
    overflow: hidden;
}
h1:hover::before{
    width: 11.2%;
}
form{
    width: 250px;
    padding-top: 20px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 10px;
    font-size: 15px;
}
form input{
    width: 120%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    outline: none;
    border-radius: 6px;
    margin-bottom: 5px;
}
.pass-icon{
    position: absolute;
    top: 460px;
    right: 540px;
    width: 24px;
    cursor: pointer;
}
.submit{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: aquamarine;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
p{
    text-align: center;
    ;
    font-size: 15px;
}
a{
    text-decoration: none;
}
.password-container{
    position: relative;
}
#togglePassword {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .fa-eye {
    color: #999;
  }
  
  .fa-eye-slash {
    color: #333;
  }