*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color:#fff;
}
.cross{
    float: right;
    width: 40px;
    font-size: 50px;
    color: red;
    text-decoration: none;
  }
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(../image/5.5.jpg);
   background-repeat: no-repeat; 
   background-size: cover;
}
.login img{
    height: 100px;
}
.login img:hover{
    transform: translateY(-10px);
}
.login{
    width: 50%;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: 2px solid white;
    padding: 50px 60px 70px;
    text-align: center;
}
.login h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(208, 219, 121);
    position: relative;
}
.input_feild{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
   
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}


.btn{
    width: 100%;
    display: flex;
    transform: translate(25%);
    padding-left: 15px;
}
.btn button{
    flex-basis: 40%;
    background: #3c00a0;
    width: 100px;
    color: #fff;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;  
}
.register{
    
    text-align: center;
    margin: 20px 0 10px;
    padding-left: 20px;
    color: #fff;
}
.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
